*{
    margin:0%;
    padding:0%;
}

@font-face {
    font-family: "Michroma";
    src: url(/assets/fonts/Michroma-Regular.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(/assets/fonts/Montserrat-Regular.ttf);
}

:root{
    --color-primario: #6350A3;
    --color-secundario: #EEECEE;
    --color-terciario: #F6DCEB;
    --color-cuaternario: #7C7D7F;
    --sombras: 0px 4px 10px rgba(124, 125, 127, 0.2);

    --font-estandar: "Montserrat", sans-serif;
    --font-titulos: "Michroma", sans-serif;

    --text-xx: 2.00rem;
    --text-xl: 1.75rem;
    --text-lg: 1.50rem;
    --text-md: 1.00rem;
    --text-sm: 0.75rem;
}

.container{
    padding: 0em 8em;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 2;
}

header img{
    padding: 1em 0em;
}

nav{
    display: flex;
    font-family: var(--font-titulos);
    font-size: var(--text-md);
    gap:2rem;
}

a{
    text-decoration: none;
    color: var(--color-cuaternario);
    white-space: nowrap;
}

a:hover{
    color: var(--color-primario);
}

.dropdown-content{
    background-color: white;
    display: none;
    position: absolute;
    box-shadow: var(--sombras);
    z-index: 2;
}

.dropdown-content.active{
    display: block;
}

.dropdown-content a{
    display:block;
    padding:10px;
    text-decoration:none;
}

.dropdown:hover .dropdown-content{
    display:block;
    justify-content: right;
}

footer{
    margin: 2em 0em;
    display: flex;
    flex-direction: column;
    font-family: var(--font-titulos);
    font-size: var(--text-sm);
    align-items: center;
}

.primera-parte{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacto{
    line-height: 2.5em;
}

.redes{
    display: flex;
    gap: 2em;
}